/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */
*, *::before, *::after{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
p{
	color: var(--text);
}

/* General Styles */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 13px;
	line-height: 1.5;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	padding: 0 32px;
}
.container2{
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	padding: 0 32px;
}
img{
	width: 100%;
}
.form-control{
	width: 100%;
	padding: 10px;
	border: 0;
}


/* Varible */
:root{
	--header1: #012d5b;
	--header2: #191d34;
	--btn: #fd656b;
	--text: #506172;
	--pages-footer-bg:#e8ebf0; 
	--blog-btn: #8b8b8b;
	--bg: #f6f9fe;
}

/* h tag */
h1{
	font-size: 50px;
	color: white;
	font-weight: 700;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 30px;
	font-weight: 700;
}
h4{
	font-size: 20px;
	font-weight: 700;
	color: #0b1c39;
	margin: 20px auto 10px auto;
}
h6{
	font-size: 17px;
	font-weight: 600;
}

/* margin */
.margin-TB{
	margin: 80px auto;
}
.left-20{
	margin-left: 20px;
}
.margin-right-15{
	margin-right: 15px;
}
.margin-right-3{
	margin: 0 3px 6px 0;
}
.padding-TB{
	padding: 150px 0;
}

/* Button */
.btn{
	padding: 10px 20px;
	background-color: var(--btn);
	color: white;
	border-radius: 5px;
	border: 0;
}
.blog-btn{
	border-radius: 0;
	background-color: white;
	color: var(--blog-btn);
	padding: 4px 20px;
	border: 1px solid #eeeeee;
}
.btn-about{
	padding: 10px 30px;
}


/* Flex */
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-67{
	flex: 0 1 67%;
}
.flex-60{
	flex: 0 1 60%;
}
.flex-50{
	flex: 0 1 50%;
}
.flex-40{
	flex: 0 1 40%;
}
.flex-35{
	flex: 0 1 35%;
}
.flex-32{
	flex: 0 1 32%;
}
.flex-30{
	flex: 0 1 30%;
}
.flex-25{
	flex: 0 1 25%;
}
.flex-20{
	flex: 0 1 20%;
}
.flex-10{
	flex: 0 1 10%;
}
.flex-wrap{
	flex-wrap: wrap;
}
.justify-start{
	justify-content: flex-start;
}
.justify-left{
	justify-content: left;
}
.justify-center{
	justify-content: center;
}
.align-start{
	align-items: flex-start;
}
.align-end{
	align-items: flex-end;
}
.flex-column{
	flex-direction: column;
}

/* Body */

/* header */
.header-part1{
	background-color: var(--header1);
	color: white;
	font-size: 11px;
	padding: 10px 32px;
}
.header-address{
	margin-right: 40px;
}
.header-part2{
	padding: 25px 32px;
}
.header-part2 nav a{
	color: #1c456c;
	font-weight: 600;
}
.header-part3{
	text-align: center;
	padding: 85px;
	background-size: cover;
}
.header-part3-about{
	background-image: url(../media/hero/about_hero.jpg);
}
.header-part3-services{
	background-image: url(../media/hero/services_hero.jpg);
}
.header-part3-cases{
	background-image: url(../media/hero/cases_hero.jpg);
}
.header-part3-blog{
	background-image: url(../media/hero/blog_hero.jpg);
}
.header-part3-contact{
	background-image: url(../media/hero/contact_hero.jpg);
}

/* Footer */
.pages-footer-bg{
	background-color: var(--pages-footer-bg);
	padding: 150px 0 80px 0;
}
.pages-footer a{
	color: #9ba0aa;
}
.pages-footer-h6{
	color: #012f5f;
}
.pages-footer img{
	width: auto;
	margin-bottom: 25px;
}
.pages-footer-box1 p{
	margin-bottom: 30px;
}
.pages-footer-box2{
	line-height: 2.5;
}
.pages-footer hr{
	border: 1px solid #d3e5fd;
	margin: 50px 0 30px 0;
}
.pages-footer-copyright{
	text-align: center;
}
.pages-footer-copyright i, .pages-footer-copyright span{
	color: var(--btn);
}

/* home */
/* header */
.home-header-hero{
	background: url(../media/hero/h1_hero.jpg) no-repeat;
	background-size: 100%;
}
.home-header-hero-1{
	padding: 120px 0;
}
.home-header-hero-1 h3{
	color: var(--btn);
	font-size: 15px;
	font-weight: 400;
}
.home-header-hero-1 h1{
	color: var(--header1);
	font-weight: 900;
	font-size: 55px;
	line-height: 1.2;
	padding-bottom: 30px;
}
.home-header-hero-btn{
	padding: 16px 40px;
}
.home-header-hero-1 a{
	color: white;
	font-size: 11px;
}




















/* About */
/* section 1 */
.about-section1-box1{
	font-size: 0;
	margin-top: 150px;
}
.about-section1-box1 div{
	background-image: linear-gradient(rgba(255, 255, 255, 0.75) , rgba(255, 255, 255, 0.75 ));
	position: relative;
	right: 9%;
	padding: 40px;
}
.about-section1-box1 h3{
	line-height: 1.1;
	color: var(--header2);
	margin-bottom: 25px;
}
.about-section1-box1 p{
	line-height: 1.7;
	margin-bottom: 40px;
	font-size: 14px;
}
.about-section1-box1 a{
	color: white;
	font-size: 10px;
	font-weight: 600;
}

/* section2 */
.about-section2{
	background-color: var(--bg);
}
.about-section2-box{
	align-self: stretch;
}
.about-section2 h4{
	color: #191d34;
	padding-bottom: 15px;
}
.about-section2-box3{
	border: 4px solid var(--btn);
	padding: 20px 30px;
}
.about-section2 h2{
	line-height: 1.1;
	color: #191d34;
	font-weight: 700;
	font-size: 30px;
}
.about-section2 hr{
	border: 2px solid var(--btn);
	width: 35%;
	/* margin-left: 0; */
	margin: 20px auto 30px 0;
}
.about-section2-box3{
	line-height: 2;
}
.about-section2-box3 div{
	margin: 20px 0 10px 0;
}
.about-section2-box3 a{
	color: #191d34;
	font-size: 16px;
}
.about-section3{
	text-align: center;
	padding: 150px 0;
}
.about-section3 div{
	width: 52%;
	text-align: center;
	display: inline-block;
}
.about-section3 figure{
	width: 80px;
	display: inline-block;
	margin-bottom: 40px;
}
.about-section3-p{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 25px;
	color: var(--header2);
}
.about-section3 i{
	color: #fbba42;
	font-size: 11px;
	margin-right: 2px;
	margin-bottom: 20px;
}
.about-section3-ps strong{
	font-size: 16px;
	color: #112e41;
	font-weight: 500;
}
.about-section4-box-A{
	background-color:#fcfdff ;
	margin-bottom: 150px;
}
.about-section4 h2{
	font-size: 50px;
	text-align: center;
	color: var(--header2);
	font-weight: 700;
	margin-bottom: 60px;
}
.about-section4-box1{
	margin: 15px 25px;	
}
.about-section4-box1 span{
	color: #fd656b;
	padding-top: 10px;
}
.about-section4-box1 p{
	color: var(--header2);
	font-size: 18px;
	font-weight: 600;
	padding: 20px 0 15px 0;
}
.about-section4-box1 time{
	color: #aebccb;
}
.about-section5{
	background-color: var(--header1);
	padding: 90px 0;
	color: white;
}
.about-section5 h2{
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 20px;
	font-size: 30px;
}
.about-section5 p{
	color: white;
	line-height: 2;
	font-size: 13px;
	font-weight: 300;
}
.about-section5 input, .about-section5 select, .about-section5 button{
	display: block;
	width: 100%;
	padding: 16px 12px;
	border-radius: 6px;
	border: 2px solid #295684;
	background-color: var(--header1);
	margin-left: 20px;
	margin-bottom: 20px;
}
.about-section5 ::-webkit-input-placeholder{
	color: white;
}
.about-section5 select{
	color: #8ca2b8;
}
.about-section5 button{
	width: 40%;
	background-color: var(--btn);
	border: 0;
}
/* Services */
/* section 1 */
.services-section1{
	text-align: center;
	padding: 150px 0;
}
.services-section1-box1{
	padding: 40px;
	margin-bottom: 60px;
}
.services-section1-box1 i {
	font-size: 60px;
	margin: 20px auto;
}
.services-section1-box1 h5{
	color: var(--header2);
	font-size: 20px;
	font-weight: 700;
	padding: 20px 0 15px 0;
}
.services-btn{
	background-color: white;
	border: 2px solid var(--btn);
	padding: 20px 40px;
}
.services-btn a{
	color: var(--btn);
	font-weight: 700;
}

/* cases */
/* section 1 */
.cases-section1{
	padding: 150px 0;
}
.cases-section1-A{
	position: relative;
	font-size: 0;
	margin-bottom: 35px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.cases-section1-boxw{
	width: 80%;
	background-color: white;
	padding: 15px 25px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.cases-section1-boxw h3{
	font-size: 17px;
	color: var(--header2);
	margin-bottom: 10px;
}
.cases-section1-boxw p{
	font-size: 12px;
}

/* Blog */
/* section */
.blog-box-shadow{
	box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
	padding-bottom: 9px;
	margin-bottom: 45px;
}
.blog-jan{
	padding: 0px 40px;
	margin-top: -70px;
}
.blog-time{
	width: 90px;
	height: 90px;
	background-color: var(--btn);
	color: white;
	font-weight: 500;
	font-size: 20px;
	border-radius: 10px;
	line-height: 1.2;
	/* z-index: 4; */
	position: relative;
}
.blog-time p{
	font-size: 35px;
	color: white;
}
.blog-box-user-comment{
	margin: 20px auto;
	color: #999999;
}
.blog-box-user-comment-l{
	color: #212529;
}
.blog-section-last a{
	color: #a9a9a9;
}
.blog-section-last div{
	width: 40px;
	height: 40px;
	border: 1px solid #f0e9ff;
	margin-right: 15px;
}
.blog-section-last-1 a, .blog-section-last-2 a{
	color: #8d8d8e;
}
.blog-section-last-2{
	background-color: #fbf9ff;
}

/* aside */
.blog-aside-bg{
	background-color: #fbf9ff;
	padding: 20px;
	margin-bottom: 20px;
}
.blog-aside-bg ::placeholder{
	font-size: 11px;	
}
.aside-button-search{
	width: 100%;
	background-color: white;
	border: 1px solid var(--btn);
	border-radius: 0;
	margin-top: 15px;
}
.aside-button-search a{
	color: var(--btn);
	font-size: 10px;
	letter-spacing: 3px;
	font-weight: 600;
	
}
.blog-aside-box1-div{
	background-color: var(--btn);
	align-self: stretch;
	padding: 8px 10px;
}
.blog-aside-box2{
	line-height: 1.8;
	padding-bottom: 25px;
}
.blog-aside-box2 h6{
	color: #0b1c39 ;
}
.blog-aside-box2 hr{
	border: 0.5px solid #f4eeff;
	width: 100%;
	margin: 3px 0 25px 0;
}
.blog-aside-box2 nav{
	margin-top: 30px;
}
.blog-aside-box2 a{
	color: var(--text);
	font-weight: 500;
}
.blog-aside-box3{
	padding: 20px;
}
.blog-aside-box3-div{
	margin-bottom: 10px;
}
.blog-aside-box3-div img{
	width: 60px;
}
.blog-aside-box3 p{
	line-height: 1;
	color:#0b1c39 ;
	font-weight: 700;
}
.blog-aside-box3 time{
	font-size: 11px;
	font-weight: 500;
}
.blog-aside-box4 a{
	font-size: 9px;
}
.blog-aside-box5 figure{
	width: 30%;
	margin-bottom: 8px;
}
.blog-aside-box5 div, .blog-aside-box6 div{
	padding-top: 5px;
}
.blog-aside-box6 a{
	color: var(--btn);
}

/* Contact */
/* Section 1 */
.contact-section1 iframe{
	margin: 100px 0 70px 0;
}
.contact-form-control{
	display: block;
	width: 100%;
	color: var(--text);
	padding: 16px 12px;
	border: 1px solid #e5e6e9;
	margin-top: 20px;
}
.contact-section1 ::-webkit-input-placeholder{
	color: #9e9e9e;
}
.contact-btn{
	border: 1px solid var(--btn);
	background-color: white;
	color: var(--btn);
	border-radius: 0;
	margin: 20px 0 30px 0;
	padding: 14px 35px;
}
.contact-section1 {
	margin-bottom: 70px;
}
.contact-section1-box2{
	margin-top: 25px;
}
.contact-section1 i{
	font-size: 25px;
	margin-right: 20px;
}
.contact-section1 strong, .contact-section1 a{
	font-weight: 700;
	color: #2a2a2a;
	display: block;
}
